<%- include('partials/header', { title: 'Redefinição de Senha' }) %>

<div class="container mt-5">
  <h1 class="form-title">Redefinição de Senha</h1>
  <form action="/forgot-password" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>

<%- include('partials/footer') %>