<%- include('partials/header', { title: 'Confirmação de Redefinição de Senha' }) %>

<div class="container mt-5">
  <h1 class="form-title">Defina uma Nova Senha</h1>
  <form action="/reset-password" method="POST">
    <input type="hidden" name="token" value="<%= token %>">
    <div class="mb-3">
      <label for="password" class="form-label">Nova Senha</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-success">Redefinir Senha</button>
  </form>
</div>

<%- include('partials/footer') %>